/* General definitions */

* {
    margin: 0;
    padding: 0;
}

.links {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*Color palette*/

.header, .main .intro {
    background-color: #1f2937;
}

.footer {
    background-color: #1f2937;
}

.main .quote {
    background-color: #E5E7EB;
}

.main .intro .text .title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main .intro .text .subtext, .header .links a, .main .intro .text button, .main .sign-up .text .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header .logo, .main .sign-up .text .title {
    font-size: 24px;
    color: #F9FAF8;
}

button, .main .sign-up {
    background-color: #3882F6;
}

.main .info-tabs .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.main .quote .content {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

/* End of color palette */

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.links {
    display: flex;
    gap: 16px;
    align-items: center;
}

.main .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 64px;
}

.main .intro .text {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 4px;
}

.main .intro .text button {
    width: fit-content;
    padding: 6px 16px;
    border: none;
    border-radius: 5px;
}

.main .info-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 32px;
}

.main .info-tabs .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.main .quote {
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.main .quote .person {
    align-self: flex-end;
}

.main .sign-up {
    margin: 32px 64px;
    padding: 32px 64px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.main .sign-up button {
    border: 1px solid white;
    padding: 6px 16px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}